# Ignore prerequisites
*.d

# Ignore object files
*.o
*.ko
*.obj
*.elf

# Ignore linker output
*.ilk
*.map
*.exp

# Ignore precompiled headers
*.gch
*.pch

# Ignore libraries
*.lib
*.a
*.la
*.lo

# Ignore shared objects (including Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Ignore executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Ignore debug files
*.dSYM/
*.su
*.idb
*.pdb

# Ignore kernel module compile results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore main.c
./main.c
